# Copia a application-local.properties y pon tu contraseña MySQL (ese fichero no va a Git).

spring.jpa.hibernate.ddl-auto=update

spring.datasource.url=jdbc:mysql://localhost:3306/mlooker?createDatabaseIfNotExist=true&serverTimezone=UTC
spring.datasource.username=root
spring.datasource.password=PON_TU_PASSWORD_MYSQL

spring.security.user.name=admin
spring.security.user.password=admin
mlooker.security.api-key=dev-api-key
